/* FORMATAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* FORMATAÇÃO DO CABEÇALHO */

.cabecalho{
    height: 5em;
    background-color: black;
}

.logo{
    width: 5em;
    float: left;
}

.menu{
    float: right;
    padding: 2em;
}

a{
    text-decoration: none;
}

.menu a{
    padding: 1.3em;
    color: white;
    font-weight: bold;
}

.menu a:hover{
    background: #ccc;
    color: black;
    font-weight: bold;
}

/* FORMATAÇÃO APRESENTAÇÃO */

.apresentacao {
    display: flex;
    background-color: aqua;
    width: 95%;
    margin: 0 auto;
    padding: 0.5em;
}

.show, .img {
    flex: 1;
}

.show {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 200%;
}

.show h3 {
    font-size: 3em;
}

.show p {
    font-size: 2em;
}

.img {
    display: flex;
    justify-content: right;
}